/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

/*
* {
    border: 1px dashed black;
}
*/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .spacing {
      margin-right: 12;
      padding-right: 12px;
  }

body {
  background-color: #74EBD5;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjM27mov9_lAhWlmeAKHYOZB0MQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fweheartit.com%252Fentry%252F255567587%26psig%3DAOvVaw0uQeoLfjHUCxVCl2iFhtPZ%26ust%3D1573470151203397&psig=AOvVaw0uQeoLfjHUCxVCl2iFhtPZ&ust=1573470151203397")
  /* background-image: linear-gradient(90deg, rgb(223, 223, 223) 100%, rgb(223, 223, 223) 100%); */

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.profilehead{
    width:1000px;


}

.icons{
    max-width: 80px; 
    max-height: 80px;


}

.column {
    float: left;
    width: 50%;
  }
.darkbutton{
    color:#ffffff;
    background-color:#000000;
}