<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='css/messaging.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/landing-page.min.css')}}" rel="stylesheet">
      <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
        <div class="container">
          <a class="navbar-brand" href="#">Mentors in Tech</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="spacing nav-item active">
                <a class="nav-link" href="dashboardmentor.html">Dashboard
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="spacing nav-item">
                <a class="nav-link" href="messaging.html">Messages</a>
              </li>
              <li class="spacing nav-item">
                    <a class="nav-link" href="Profile.html">Profile</a>
                  </li>
              <li class="spacing nav-item">
                <a class="btn btn-primary" href="landingpage.html">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row py-5 px-4" style= "margin: auto">
      <div class="row bg-white container rounded-lg overflow-hidden shadow" style= "margin: auto; size:90%">
            <div class="px-4 pt-0 pb-4 " style="background-color:rgb(35, 165, 40); margin: auto;">
        
                <div class="media align-items-end profile-header" style="width:1000px; margin:auto">
                        <div class="profile mr-3">
                           <img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="..." width="180" class="rounded mb-2 img-thumbnail">
                        </div>
                        <div class="media-body text-white">
                           <h3 style="margin-bottom:0px">
                              <span id="firstname" name="firstname" class="mt-0 ">Manuella </span>
                              <span id="lastname" name="lastname" class="mt-0 ">Tarly</span>
                           </h3>
                        </div>
                        <span id="menteeavailability" name="menteeavailability"  value="Accepting mentees" style="margin-right:20px; color:white"> Accepting mentees
                        </span>
                        <span id="mentoravailability" name="mentoravailability" value="Looking for mentors" style="margin-right:20px; color:white">Looking for mentors
                     </span>
                     <a class="btn-primary rounded" style="background:rgb(35, 35, 35); color:white; padding-left:10px; padding-right:10px" href="messaging.html">Message</a>

                        </div>
               </div>
               <div class="py-4 px-4" style="margin:auto;width:100%">
               <div class="py-4 form-group container py-4 p-4 bg-light rounded shadow-sm">
               <h5 class="mb-3">Biography</h5>
               <div class = "col-12">
               <span name="bio" id="bio"  style="padding-left: 20px">
                This is a biography! I might write about my background or story. Any interesting facts that isn't covered already in this profile.  
            </span>
            </div>
               </div>
               <div class="form-group container py-4 p-4 bg-light rounded shadow-sm">
               <h5 class="mb-3">Career experience</h5>
               <div class = "col-12">
               <span style="padding:2px">Company name:</span>
               <span id="company" name="company" > adsfadsa</span>
               <br>
               <span style="padding:2px; padding-top:16px">Position:</span>
               <span id="position" name="position"></span>
               </div>
               </div>
               <div class="form-group container py-4 p-4 bg-light rounded shadow-sm" style="padding:auto">
               <h5 class="mb-3">Education</h5>
               <div class = "col-12">
               <span style="padding:2px">School name:</span>
               <span id="school" name="school">
                   ajdlfjadsf
               </span>
               <br>

               <span style="padding:2px; padding-top:16px">Degree:</span>
               <span id="degree" name="degree" >
                   adfasld;kf
                </span>
               </div>
               </div>
               <div class="form-group container py-4 p-4 bg-light rounded shadow-sm" style="padding:auto">
                    <h5 class="mb-3">Interests</h5>
                    <div class="col-12">
     
              
                    <p id="hobbies" name="hobbies">adfasd
                        </p>
                     </div>
                    
                    </div>
           
               
               <div class="form-group container py-4 p-4 bg-light rounded shadow-sm" style="padding:auto">
               <h5 class="mb-3">Gender</h5>
               <div class="col-12">

         
               <p id="gender" name="gender">adfasd
                   </p>
                </div>
               
               </div>

               </div> 
            </div>

    </div>
    <script>
        $.get("/otherprofile.json").then(function(response){
            console.info(response)
            $("#firstname").html(response.firstname)
            $("#lastname").html(response.lastname)

            if(response.mentoravailability){
                $("#mentoravailability").html("Looking for a mentor")

            } else {
                $("#mentoravailability").html("Not looking for a mentor")
            }

            if(response.menteeavailability){
                $("#menteeavailability").html("Accepting mentees")
                
            } else {
                $("#menteeavailability").html("Not looking for a mentee")
            }

            $("#bio").html(response.bio)
            $("#company").html(response.company)
            $("#position").html(response.position)
            $("#school").html(response.school)
            $("#degree").html(response.degree)
            $("#hobbies").html(response.hobbies)
            $("#gender").html(response.gender)
        })
    </script>
   

</body>
</html>


<