<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='css/messaging.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/landing-page.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Mentors in Tech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="spacing nav-item active">
                    <a class="nav-link" href="dashboardmatching.html">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="spacing nav-item">
                    <a class="nav-link" href="messaging.html">Messages</a>
                </li>
                <li class="spacing nav-item">
                    <a class="nav-link" href="Profile.html">Profile</a>
                </li>
                <li class="spacing nav-item">
                    <a class="btn btn-primary" href="signout.html">Sign out</a>
                </li>
            </ul>


         </div>
      </nav>
      <div class="row py-5 px-4" style= "margin: auto">
         <div class="row bg-white container rounded-lg overflow-hidden shadow" style= "margin: auto; size:90%">
            <div class="px-4 pt-0 pb-4 " style="background-color:rgb(35, 165, 40); margin: auto;">
               <form role="form" id="profile_form" action="/updateprofile.html" method="POST">
                  <div class="media align-items-end profile-header" style="width:1000px; margin:auto">
                     <div class="profile mr-3">
                        <img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="..." width="180" class="rounded mb-2 img-thumbnail">
                     
                     </div>
                     <div class="media-body text-white">

                        <h3>
                            <span id="firstname" name="firstname" class="mt-0 mb-0">Manuella </span>
                            <span id="lastname" name="lastname" class="mt-0 mb-0">Tarly</span>
                        </h3>

                     </div>
                    <div>
                            <input id="menteeavailability" name="menteeavailability" type="checkbox" value="Accepting mentees" style="margin-right:10px; position:relative; top:2px">
                            <label for="menteeavailability" style="color:white">
                                Accepting mentees
                            </label>

                    </div>

                     <div style="padding-left:20px">
                            <input id="mentoravailability" name="mentoravailability"type="checkbox" value="Looking for mentors"style="margin-right:10px; position:relative; top:2px">
                            <label for="mentoravailability" style="color:white">
                                   Looking for mentors
                               </label>

                     </div>
                     
                    </div>
            </div>
            <div class="py-4 px-4" style="margin:auto;width:100%">
            <div class="py-4 form-group container py-4 p-4 bg-light rounded shadow-sm">
            <h5 class="mb-3">Biography</h5>
            <div class = "col-12">
            <input name="bio" id="bio" class="form-control font-italic"  style="padding-left: 20px"  type="text" value="{{bio}}">
            </div>
            </div>
            <div class="py-4 form-group container py-4 p-4 bg-light rounded shadow-sm">
                    <h5 class="mb-3">Interests</h5>
                    <div class = "col-12">
                    <input id="hobbies" name="hobbies" class="form-control font-italic"  style="padding-left: 20px"  type="text" value="{{hobbies}}">
                </div>
            </div>
            <div class="form-group container py-4 p-4 bg-light rounded shadow-sm" style="padding:auto">
                    <h5 class="mb-3">Location</h5>
                    <div class = "col-12">
                    <p style="padding:2px">State</p>
                    <input id="state" name="state" class="form-control font-italic"  type="text" value="State">
                    <p style="padding:2px; padding-top:16px">City</p>
                    <input id="city" name="city" class="form-control font-italic"  type="text" value="City">
                    </div>
                    </div>
            <div class="form-group container py-4 p-4 bg-light rounded shadow-sm">
            <h5 class="mb-3">Career experience</h5>
            <div class = "col-12">
            <p style="padding:2px">Company name:</p>
            <input id="company" name="company" class="form-control font-italic"  type="text" value="{{company}}">
            <p style="padding:2px; padding-top:16px">Position:</p>
            <input id="position" name="position" class="form-control font-italic"  type="text" value="{{position}}">
            </div>
            </div>
            <div class="form-group container py-4 p-4 bg-light rounded shadow-sm" style="padding:auto">
            <h5 class="mb-3">Education</h5>
            <div class = "col-12">
            <p style="padding:2px">School name:</p>
            <input id="school" name="school" class="form-control font-italic"  type="text" value="{{school}}">
            <p style="padding:2px; padding-top:16px">Degree:</p>
            <input id="degree" name="degree" class="form-control font-italic"  type="text" value="{{degree}}">
            </div>
            </div>
            <div class="row" style="width:100%;margin:auto">
            <div class="form-group container py-4 p-4 bg-light rounded shadow-sm col" style="margin-right:10px">
            <h5 class="mb-3">Brithday</h5>
            <input id="birthdate" name="birthdate" class="form-control font-italic" type="text" value="{{birthdate}}">
            </div>
            <div class="form-group container py-4 p-4 bg-light rounded shadow-sm col">
            <h5 class="mb-3">Gender</h5>
            <input id="gender" name="gender" class="form-control font-italic" type="text" value="{{gender}}">
            </div>
            </div>
            <div class="py-4 form-group container py-4 p-4 bg-light rounded shadow-sm">
            <h5 class="mb-3">Race</h5>
            <div class = "col-12">
            <input id="ethnicity" name="ethnicity" class="form-control font-italic"  style="padding-left: 20px"  type="text" value="{{ethnicity}}">
            </div>
            </div>
            
            <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
            <input id="button_save" type="submit" class="btn btn-primary" value="Save Changes">
            </div>
            </div>
            </div> 
            </form>       
         </div>
      </div>
      <script>
        $(document).ready(function() {
            $.get("/profile.json").then(function(response){
            console.log("RESPONSE");
            console.log(response)
            $("#firstname").html(response.firstname)
            $("#lastname").html(response.lastname)

            if(response.mentoravailability){
                $("#mentoravailability").prop("checked", true);

            } else {
                $("#mentoravailability").prop("checked", false);
            }
            
            if(response.menteeavailability){
                $("#menteeavailability").prop("checked", true);
                
            } else {
                $("#menteeavailability").prop("checked", false);
            }

            $("#bio").val(response.bio)
            $("#company").val(response.company)
            $("#position").val(response.position)
            $("#school").val(response.school)
            $("#degree").val(response.degree)
            $("#hobbies").val(response.hobbies)
            $("#gender").val(response.gender)
            $("#birthday").val(response.birthday)
            $("#ethnicity").val(response.ethnicity)
             })
        });
         // $(function(){
         
         // })
         

         // $("#button_save").on("click", function(){

         //     var formdata =   $("#profile_form").serialize();
         //     console.info(formdata)

         //     // $.post("/profile.json", formdata).then(function(response){
                
         //    })
         
         








</script>
</body>
</html>

